<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="weather" translate="label" sortOrder="10">
            <label>Weather Module</label>
        </tab>
        <section id="weatherSection" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Module Configuration</label>
            <tab>weather</tab>
            <resource>HTCode_Weather::weather_configuration</resource>
            <group id="weatherData" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Weather API</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="weatherApiKey" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="weatherSection/weatherData/enable">1</field>
                    </depends>
                </field>
                <field id="town" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Town</label>
                    <depends>
                        <field id="weatherSection/weatherData/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
